/************************** Styles for the core *******************************/

.container {
	width: 100%;
	height: 100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.invisible_iframe {
	border: 0px;
	width: 0px;
	height: 0px;
}

form iframe {
	border: 0px;
	width: 0px;
	height: 0px;
}

/************************** Styles for the tabbing menu ***********************/

/* the tab bar itself */
.gwt-TabBar {
	font-size: 12px;
}

/* the left edge of the bar */
.gwt-TabBar .gwt-TabBarFirst {
	border-bottom: 1px solid #7AA5D6;
	width: 15px;
}

/* the right edge of the bar */
.gwt-TabBar .gwt-TabBarRest {
	border-bottom: 1px solid #7AA5D6;
}

/* unselected tabs */ 
.gwt-TabBar .gwt-TabBarItem {
	border: 1px solid #7AA5D6;
	background-color: white;
	padding: 2px 5px 2px 5px;
}

/* additional style for selected tabs */
.gwt-TabBar .gwt-TabBarItem-selected {
	border-bottom: 1px solid #E5ECF9;
	background-color: #E5ECF9;
	color: #3366CE;
}

/* the tab panel itself */
.gwt-TabPanel {
	width: 100%;
}

/* the bottom section of the tab panel (the deck containing the widget) */ 
.gwt-TabPanelBottom {
	border-top: 5px solid #E5ECF9;
}

/************************** Styles for a SearchBox *********************/

.searchbox {
	width: 100%;
	background-color: #E5ECF9;
}

.searchbox .searchbox-LayoutPanel {
	width: 100%;
	float: left;
	clear: both;
	margin: 0px 0px 5px 0px;
	background-color: #E5ECF9;
	overflow-x: hidden;
}

.searchbox .searchbox-Layer {
	width: 100%;
	float: left;
	clear: both;
}

.searchbox .gwt-Label {
	float: left;
	line-height: 2em;
	margin: 0px 5px 0px 5px;
}

.searchbox .searchbox-LayoutPanel .gwt-Hyperlink {
	line-height: 2em;
}

/************************** Styles for a ResultshBox *********************/

.resultsbox {
	width: 100%;
	background-color: white;
	float: left;
	clear: both;
	margin: 5px 0px 0px 0px;
}

.aresult {
	width: 100%;
	padding: 2px;
	float: left;
	clear: both;
	border-bottom: 1px solid #E5ECF9;
}

/************************** Styles for Miscellaneous *********************/
.hoverLink {
	float: right;
	clear: none;
	display: inline;
	margin: 0px 5px 0px 5px;
}

.shareLink {
	float: left;
	clear: none;
	margin: 5px 5px 5px 0px;
}

.favorites {
	width: 100%;
	height: 100%;
}

.favoritesPanel {
	width: 100%;
	height: 100%;
}

.aResultFragment {
	float: left;
	clear: both;
	width: 100%;
}

/** So IE doesn't get confused when we want to set the cssFloat attribute (this is why we hate IE) */
.leftFloat {
	float: left;
}